<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>欢迎使用 <%= title %></h1>
    <a href="./login">
      <p>点击登录</p>
    </a>
    <hr />
    <a href="./static-novel">
      <p>点击进入静态页面测试</p>
    </a>
  </body>
</html>
