<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('style') %>
    <link rel="stylesheet" href="css/genshin-novel-reader.css">
    <link id="icon" rel="shortcut icon" href="https://ys.mihoyo.com/main/favicon.ico">
    <title>登出</title>
  </head>
  <body>
    <div class="page-container">
      登出功能暂不支持
    </div>
  </body>
</html>
