<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('common') %>
    <%- include('style') %>
    <title>登出</title>
  </head>
  <body>
    <div class="page-container">
      登出功能暂不支持
    </div>
  </body>
</html>
