<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('style') %>
    <title>登出</title>
  </head>
    <body>
      <div class="page-container">
        您已经退出登录
      </div>
      <div id="react-app"></div>
      <script src="/react.production.min.js"></script>
      <script src="/react-dom.production.min.js"></script>
      <script type="module" src="/js/page2/index.es.js"></script>
    </body>
</html>
