<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('common') %>
    <link rel="stylesheet" href="css/genshin-novel-reader.css">
    <title>Genshin novel reader</title>
    <style>
      #react-app {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
    <body>
      <div id="react-app"></div>
      <script src="/react.production.min.js"></script>
      <script src="/react-dom.production.min.js"></script>
      <script type="module" src="/js/register/index.es.js"></script>
    </body>
</html>
